### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Import Data

Import each given data and engineered data using pandas library :

In [10]:
app_test = pd.read_csv('./Dataset/DS1/app_test.csv')
app_train = pd.read_csv('./Dataset/DS1/app_train.csv')
ins_prev = pd.read_csv('./ins_prev.csv')

### Exploratory Data Analysis

Shape of each data :

In [11]:
print("app_test shape :", app_test.shape)
print("app_train shape :", app_train.shape)
print("ins_prev shape :", ins_prev.shape)

app_test shape : (14761, 24)
app_train shape : (61503, 24)
ins_prev shape : (350712, 22)

Descriptive statistics include those that summarize the central tendency, dispersion and shape of a datasetâ€™s distribution, excluding NaN values.

In [4]:
app_train.describe()

,Unnamed: 0,LN_ID,TARGET,NUM_CHILDREN,INCOME,APPROVED_CREDIT,ANNUITY,PRICE,DAYS_AGE,DAYS_WORK,DAYS_REGISTRATION,DAYS_ID_CHANGE,HOUR_APPLY,EXT_SCORE_1,EXT_SCORE_2,EXT_SCORE_3
count,61503.000000,61503.000000,61503.000000,61503.000000,6.150300e+04,6.150300e+04,61502.000000,6.144100e+04,61503.000000,61503.000000,61503.000000,61503.000000,61503.000000,26658.000000,6.136900e+04,49264.000000
mean,153729.986927,278151.136416,0.080793,0.411850,1.690789e+05,5.976899e+05,27083.323315,5.369033e+05,-16057.481033,64882.262768,-4976.696324,-2996.374681,12.055136,0.504081,5.141378e-01,0.510787
std,88881.478853,102918.206671,0.272519,0.716686,1.339697e+05,4.016493e+05,14470.508291,3.685742e+05,4363.536919,142154.440320,3520.926325,1512.409598,3.273323,0.210390,1.912087e-01,0.194541
min,6.000000,100009.000000,0.000000,0.000000,2.610000e+04,4.500000e+04,2164.500000,4.500000e+04,-25229.000000,-17912.000000,-22928.000000,-6274.000000,0.000000,0.018334,8.173617e-08,0.000527
25%,76545.500000,188767.000000,0.000000,0.000000,1.125000e+05,2.700000e+05,16506.000000,2.385000e+05,-19716.500000,-2761.000000,-7479.000000,-4304.000000,10.000000,0.336294,3.926921e-01,0.370650
50%,153893.000000,278357.000000,0.000000,0.000000,1.485000e+05,5.124465e+05,24853.500000,4.500000e+05,-15753.000000,-1208.000000,-4498.000000,-3263.000000,12.000000,0.508522,5.658808e-01,0.535276
75%,230884.500000,367424.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,-12450.000000,-276.000000,-1996.000000,-1713.000000,14.000000,0.677160,6.637879e-01,0.667458
max,307510.000000,456255.000000,1.000000,9.000000,1.800009e+07,4.050000e+06,258025.500000,4.050000e+06,-7673.000000,365243.000000,0.000000,0.000000,23.000000,0.951624,8.549997e-01,0.896010

In [5]:
app_test.describe()

,Unnamed: 0,LN_ID,TARGET,NUM_CHILDREN,INCOME,APPROVED_CREDIT,ANNUITY,PRICE,DAYS_AGE,DAYS_WORK,DAYS_REGISTRATION,DAYS_ID_CHANGE,HOUR_APPLY,EXT_SCORE_1,EXT_SCORE_2,EXT_SCORE_3
count,14761.000000,14761.000000,14761.000000,14761.000000,1.476100e+04,1.476100e+04,14761.000000,1.474100e+04,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,6449.000000,14742.000000,11842.000000
mean,154253.864643,278759.502879,0.081499,0.411828,1.674965e+05,5.961318e+05,27127.497764,5.361929e+05,-16024.982115,65527.059820,-4989.848249,-3009.099790,12.067475,0.507092,0.515809,0.511901
std,88185.627857,102112.465678,0.273608,0.709092,9.538766e+04,3.996861e+05,14473.650999,3.665194e+05,4369.316681,142694.978431,3523.896416,1507.562327,3.242051,0.211769,0.189662,0.195482
min,47.000000,100054.000000,0.000000,0.000000,2.655000e+04,4.500000e+04,2187.000000,4.500000e+04,-25165.000000,-16375.000000,-21865.000000,-6337.000000,0.000000,0.017095,0.000013,0.000527
25%,78418.000000,190910.000000,0.000000,0.000000,1.125000e+05,2.700000e+05,16654.500000,2.385000e+05,-19705.000000,-2784.000000,-7576.000000,-4310.000000,10.000000,0.339551,0.395380,0.370650
50%,154391.000000,278940.000000,0.000000,0.000000,1.440000e+05,5.094000e+05,24822.000000,4.500000e+05,-15682.000000,-1221.000000,-4527.000000,-3290.000000,12.000000,0.511271,0.566284,0.537070
75%,230217.000000,366655.000000,0.000000,1.000000,2.025000e+05,8.086500e+05,34573.500000,6.795000e+05,-12381.000000,-275.000000,-1975.000000,-1728.000000,14.000000,0.677166,0.663389,0.670652
max,307505.000000,456249.000000,1.000000,5.000000,2.930026e+06,4.050000e+06,177826.500000,4.050000e+06,-7689.000000,365243.000000,0.000000,0.000000,23.000000,0.944420,0.855000,0.882530

In [12]:
ins_prev.describe()

,LN_ID,ANNUITY,APPLICATION,APPROVED_CREDIT,AMT_DOWN_PAYMENT,PRICE,HOUR_APPLY,DAYS_DECISION,TERM_PAYMENT,FIRST_DRAW,FIRST_DUE,TERMINATION,NFLAG_INSURED_ON_APPROVAL,INST_NUMBER,INST_DAYS,PAY_DAYS,AMT_INST,AMT_PAY
count,350712.000000,274103.000000,3.507120e+05,3.507120e+05,1.642050e+05,2.710720e+05,350712.000000,350712.000000,274103.000000,211407.000000,211407.000000,211407.000000,211407.000000,203638.000000,203638.000000,203616.000000,2.036380e+05,2.036160e+05
mean,278626.100136,15793.209924,1.747205e+05,1.958564e+05,6.667307e+03,2.260759e+05,12.474438,-877.824856,16.074268,342238.632122,13228.355887,82378.742109,0.331980,6.705688,-950.828818,-962.862918,2.603128e+04,2.666817e+04
std,102733.229023,14601.033712,2.924484e+05,3.185176e+05,2.024318e+04,3.147324e+05,3.326745,781.578114,14.595200,88866.480608,71030.663471,153553.036032,0.470925,7.245027,766.311575,765.707496,6.276077e+04,6.519167e+04
min,100009.000000,0.000000,0.000000e+00,0.000000e+00,-4.500000e-01,0.000000e+00,0.000000,-2922.000000,0.000000,-2922.000000,-2892.000000,-2845.000000,0.000000,1.000000,-2878.000000,-2891.000000,4.500000e+00,2.115000e+00
25%,189728.000000,6258.915000,1.957500e+04,2.473650e+04,0.000000e+00,4.966091e+04,10.000000,-1307.000000,6.000000,365243.000000,-1625.000000,-1267.000000,0.000000,3.500000,-1474.000000,-1487.000000,6.629300e+03,6.347563e+03
50%,279204.000000,11201.085000,7.029000e+04,8.009285e+04,1.768500e+03,1.101150e+05,12.000000,-581.000000,12.000000,365243.000000,-825.000000,-495.000000,0.000000,5.384615,-704.000000,-716.881944,1.187029e+04,1.149099e+04
75%,367667.250000,20356.065000,1.800000e+05,2.156400e+05,7.677000e+03,2.295000e+05,15.000000,-271.000000,24.000000,365243.000000,-408.000000,-43.000000,1.000000,6.692308,-310.000000,-322.150000,2.330840e+04,2.294889e+04
max,456255.000000,418058.145000,4.050000e+06,4.104351e+06,2.150100e+06,4.050000e+06,23.000000,-2.000000,84.000000,365243.000000,365243.000000,365243.000000,1.000000,110.004566,-2.000000,-3.000000,3.202062e+06,3.202062e+06